html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: #efefef;
}

#map {
  background-color: white;
}

.vote_container {
  display: flex;
  padding: 2px 20px;
  border: 10px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select_state {
  font-size: 2.4rem;
}

.state {
  box-sizing: border-box;
  font-size: 2.4rem;
  padding: .5rem 2rem;
  margin-left: 2rem;
  background: #c6e9d2;
  border-radius: 19px;
}

.middle_section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  margin: 50px 0 10px;
}

.candidate1_bar {
  position: relative;
  background-color: #08bf46;
  height: 40px;
  width: 100%;
}
.candidate2_bar {
  position: relative;
  background-color: rgb(21, 21, 79);
  height: 40px;
  width: 100%;
}

.vote_count1 {
  position: absolute;
  top: -30px;
  left: 5px;
}

.vote_count2 {
  position: absolute;
  top: -30px;
  right: 5px;
}

.candidate_n_vote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.candidates_img {
  display: flex;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.candidate1 {
  background-image: url(../image/edward.png);
  background-color: black;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.candidate1:hover {
  background-blend-mode: luminosity;
}

.candidate2 {
  background-image: url(../image/elon.png);
  background-color: black;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  transition: background-blend-mode 3000ms ease-in-out;
}

.candidate2:hover {
  background-blend-mode: luminosity;
}

.display_blackNwhite {
  background-blend-mode: luminosity;
}

.vote_button {
  color: white;
  background: #08bf46;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  border-radius: 22px;
  padding: .5rem 2rem;
  margin: 1.5rem 0 .5rem;
}

footer {
  font-size: 1.6rem;
  position: absolute;
  /* bottom: 10px; */
  margin-top: 50px;
}

.thumbUp {
  position: fixed;
  top: 50%;
  z-index: 100;
  background: #fff;
  padding: 10px;
  border-radius: 50%;
}